Package: com.weslie.58tongcheng
Name: 58tongcheng
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Weslie
Author: Weslie
Section: Tweaks
Version: 0.0.1-2+debug
Installed-Size: 152
