Package: com.weslie.51job
Name: ws51job
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Weslie
Author: Weslie
Section: Tweaks
